// ::selection{
//  color: #FFF; text-shadow: none; background: $keyColor;
// }

html{
	width: 100%;
	background-color: $bgColor;
	font-size: 14px;
	@media all and (min-width: $breakpoint + 1){
		font-size: 14px;
	}
}

body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	font-family: $baseFont;
	line-height: 1.75;
	color: $textColor;
	width: 100%;
	word-wrap: break-word;
	background-color: $bgColor;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

p{
	text-align: justify;
	&:not(:last-child){
		margin-bottom: 15px;
	}
}

em{
	color: #f10d0d;
	font-style: normal;
	font-weight: bold;
}
.center{
	text-align: center;
}



/*---------------------------------
HEADER
---------------------------------*/
.globalHeader{
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  &__header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: $sp_headerHight;
		z-index: 999;
		box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    // background-color: rgba(255,255,255,0.95);
    background-color: #fff;
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	padding: 0 10px;
  }
	&__logoImg{
		width: 100%;
	}
	&__catch{
		margin-top: $sp_headerHight;
		font-size: 10px;
		line-height: 1.3;
		padding: 7px 10px;
	}

  &__hamburger{
    position: absolute;
    top: 50%;
    right: 15px;
    width: 20px;
    height: 16px;
    transform: translateY(-50%);
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
			border-radius: 3px;
      background-color: #ccc;
      transition: all .3s;
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
			border-radius: 3px;
      background-color: #ccc;
      transition: all .3s;
    }
    span{
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 3px;
			border-radius: 3px;
      background-color: #ccc;
      transform: translateY(-50%);
      // transition: all .4s;
    }
    &.active{
      transform: translateY(-50%) rotate(45deg);
      &::before{
        top: 50%;
        bottom: auto;
        transform: translateY(-50%) rotate(90deg);
      }
      &::after{
        top: 50%;
        transform: translateY(-50%);
      }
      span{
        opacity: 0;
      }
    }
  }

	@media all and (min-width: $breakpoint + 1){
		box-shadow: none;
		// background-color: #fff;
    // padding: 0 20px;
		&__band{
			border-bottom: 1px solid #e8e8e8;
			padding: 0 15px;
		}
		&__bandInner{
			max-width: $contentWidth;
			margin: 0 auto;
			display: flex;
			align-items: center;
			padding: 8px 0;
		}


    &__header{
      height: auto;
			position: relative;
			box-shadow: none;
			background-color: transparent;
    }
		&__logo{
			margin: 10px auto;
		}
    &__catch{
			margin-top: 0;
      background-color: transparent;
			text-align: center;
			font-size: 1rem;
    }

    &__hamburger{
      display: none;
    }
	}
}

.siteLinks{
	display: flex;
	@media all and (max-width: $breakpoint){
		width: 100%;
		&__item{
			flex: 1;
			a{
				display: block;
				font-size: 10px;
				line-height: 1.2;
				font-weight: bold;
				text-align: center;
				.Icon{
					display: block;
					margin-right: 5px;
					font-size: 1.5rem;
				}
			}
		}
	}
	@media all and (min-width: $breakpoint + 1){
		&__item{
			margin-right: 30px;
			a{
				font-size: 1.05rem;
				font-weight: bold;
				@include hover;
				.Icon{
					margin-right: 5px;
					font-size: 1.5rem;
				}
			}
		}
		@media all and (max-width: $breakpoint-m){
			&__item{
				margin-right: 15px;
				a{
					font-size: 0.9rem;
					.Icon{
						font-size: 1.3rem;
					}
				}
			}
		}
	}
}
.siteInfo{
	display: flex;
	margin-left: auto;
	align-items: center;
	&__sns{
		margin-right: 20px;
		display: flex;
	}
	&__snsList{
		&:not(:last-child){
			margin-right: 8px;
		}
		a{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 28px;
			height: 28px;
			border: 1px solid #b0b0b0;
			border-radius: 50%;
			background-color: #fff;
			@include hover;
			.Icon{
				color: #b0b0b0;
				font-size: 18px;
				top: 0;
			}
		}
	}
	&__data{
		font-size: 0.9rem;

	}
}

.globalNavi{
	&__list{
    display: flex;
		position: relative;
  }
  &__item{
		flex: 1;
		&--wide{
			flex: 1.5;
		}
		&--hasChild{
			> span{
				position: relative;
				&::after{
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 0;
					height: 0;
					transform: translate(-50%, 0);
					border: 5px solid transparent;
					border-top-color: #fff;
				}
			}
			&.-active{
				> span{
					background-color: #fff;
					transition: all .3s;
				}
				.globalNavi__childList{
					display: flex;
					animation: fadeIn .3s;
				}
			}
		}
		> a,
		> span{
			color: #fff;
			font-size: 9px;
			height: 65px;
			line-height: 1.2;
			font-weight: bold;
			display: flex;
			flex-direction: column;
			align-items: center;
	    justify-content: center;
		}
		.Icon{
			display: block;
			text-align: center;
			font-size: 20px;
			margin-bottom: 2px;
		}
  }
	&__childList{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #fff;
		// display: flex;
		flex-wrap: wrap;
		padding: 10px 5px 15px;
		box-shadow: 0 3px 2px rgba(0,0,0,0.2);
		z-index: 2;
		display: none;
	}
	&__childItem{
		width: 50%;
		padding: 8px 5px 0;
		a{
			font-size: 0.9rem;
			line-height: 1.2;
			color: #8c8c8c;
		}
	}


	@media all and (min-width: $breakpoint + 1){
		margin-top: 30px;
		&__list{
			max-width: 1000px;
			margin: 0 auto;
		}
		&__item{
			&--hasChild{
				> span{
					&::after{
						position: relative;
						bottom: auto;
						left: auto;
						transform: translate(0, 3px);
						border: 7px solid transparent;
						border-top-color: #fff;
						margin-left: 13px;
					}
				}
			}
			> a,
			> span{
				flex-direction: row;
				font-size: 1.05rem;
				letter-spacing: 0.05em;
				height: 65px;
				cursor: pointer;
			}
			> a{
				@include hover;
			}
			.Icon{
				display: inline-block;
				font-size: 20px;
				margin: 0 5px;
			}
		}

		&__childList{
			max-width: $contentWidth;
			background-color: #fff;
			padding: 15px 15px 30px;
			box-shadow: 0 3px 3px rgba(0,0,0,0.2);
			z-index: 2;
		}
		&__childItem{
			width: 25%;
			padding: 15px 10px 0;
			a{
				font-size: 1.05rem;
				letter-spacing: 0.05em;
				font-weight: bold;
				@include hover;
				span{
					font-weight: bold;
				}
			}
		}
	}
}





/*---------------------------------
MAIN
---------------------------------*/
.container{
	max-width: $contentWidth;
	margin: 0 auto;
	padding: 20px 0;
	&__main{
		padding: 0 15px;
	}
	&__mainSection{
		&:not(:last-child){
			margin-bottom: 30px;
		}
	}
	// &__mainSectionInner{
	// }
	&__side{
		margin-top: 20px;
		padding: 0 15px;
		border: 1px solid #f00;
	}
	@media all and (min-width: $breakpoint + 1){
		display: flex;
		padding: 40px 15px;
		&__main{
			flex: 1;
			padding: 0;
			margin-right: 35px;
		}
		&__mainSection{
			&:not(:last-child){
				margin-bottom: 50px;
			}
		}
		&__side{
			margin-top: 0;
			padding: 0;
			width: 300px;
		}
	}
}

// .breadcrumb{
// 	background-color: #ddd;
// 	padding: 0 5px;
// 	// margin-bottom: 20px;
// 	ul{
// 		// height: 34px;
// 		overflow-x: auto;
// 		overflow-y: hidden;
// 		height: 24px;
// 		font-size: 0;
// 		li{
// 			white-space: nowrap;
// 			display: inline;
// 			line-height: 24px;
// 			font-size: 9px;
// 			a{
// 				color: inherit;
// 			}
// 			&:not(:first-child){
// 				&::before{
// 					content: ">";
// 					margin: 0 5px;
// 				}
// 			}
// 		}
// 	}
// 	@media all and (min-width: $breakpoint + 1){
// 		padding: 0 15px;
// 		// margin-bottom: 40px;
// 		ul{
// 			height: 30px;
// 			li{
// 				font-size: 12px;
// 				line-height: 30px;
// 				a{
// 					@include hover;
// 				}
// 			}
// 		}
// 	}
// }

//コンテンツタイトル
.contentTitle{
	margin-bottom: 5px;
	color: #828282;
	line-height: 1.3;
	&__main{
		font-size: 18px;
		letter-spacing: 0.05em;
		font-weight: bold;
	}
	&__caption{
		font-weight: bold;
		font-size: 0.85rem;
		margin-top: 3px;
	}
	@media all and (min-width: $breakpoint + 1){
		display: flex;
		align-items: center;
		&__main{
			font-size: 24px;
		}
		&__caption{
			margin: 0 0 0 10px;
		}
	}
}


.button{
	border-radius: 5px;
	background-color: #53a7db;
	display: inline-block;
	color: #fff;
	position: relative;
	border-bottom: 4px solid #3d80aa;
	padding: 8px 15px;
	&__inner{
		font-size: 1.1rem;
		line-height: 1.2;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
		&--arrow{
			background: url('../../images/arrow.svg') left center/18px auto no-repeat;
			padding-left: 25px;
		}
	}
	@media all and (min-width: $breakpoint + 1){
		padding: 12px 40px;
		@include hover;
		&__inner{
			font-size: 20px;
			&--arrow{
				background: url('../../images/arrow.svg') left center/24px auto no-repeat;
				padding-left: 35px;
			}
		}
	}
}

.viewMore{
	margin-top: 20px;
	text-align: center;
	&__button{
		padding: 10px 20px;
		background-color: #e8e8e8;
		line-height: 1;
		font-weight: bold;
		color: inherit;
		display: inline-block;
		&--large{
			font-size: 1.15rem;
			width: 100%;
		}
	}
	@media all and (min-width: $breakpoint + 1){
		margin-top: 30px;
		&__button{
			padding: 10px 20px;
			font-size: 1.15rem;
			@include hover;
			&--large{
				padding: 15px 20px;
				font-size: 1.25rem;
				max-width: 600px;
			}
		}
	}
}


/*---------------------------------
FOOTER
---------------------------------*/
.globalFooter{
  background-color: #fff;
  position: relative;
	padding-bottom: $sp_footerHight;
	a{
		color: inherit;
	}
  &__inner{
    padding: 10px;
  }

  &__nav{
    display: flex;
		align-items: center;
		justify-content: center;
  }
  &__navItem{
    font-size:  8px;
		line-height: 1.2;
    &:not(:last-child){
      margin-right: 5px;
			padding-right: 5px;
			border-right: 1px solid #ccc;
    }
  }
	&__copyright{
		margin-top: 8px;
    width: 100%;
    text-align: center;
    font-size: 8px;
    color: #999;
  }

  @media all and (min-width: $breakpoint + 1){
		padding-bottom: 0;
    &__inner{
      display: flex;
      justify-content: space-between;
      padding: 10px;
			max-width: $contentWidth;
			margin: 0 auto;
    }

    &__nav{
    }

    &__navItem{
			&:not(:last-child){
				margin-right: 15px;
				padding-right: 15px;
			}
      font-size: 0.8rem;
			a{
        @include hover;
      }
    }
		&__copyright{
			width: 250px;
			text-align: right;
			font-size: 0.8rem;
    }
  }
}

.spFooter{
	position: fixed;
	z-index: 999;
	height: $sp_footerHight;
	display: flex;
	align-items: center;
	left: 0;
	bottom: 0;
	width: 100%;
	box-shadow: 0 -2px 3px rgba(0,0,0,0.2);
	background-color: #fff;
	// border-top: 1px solid #ccc;
}
