$icons: (
	"twitter": unquote("\"\e801\""),
	"facebook": unquote("\"\e802\""),
	"instagram": unquote("\"\e803\""),
	"arrow": unquote("\"\e804\""),
	"menu": unquote("\"\e805\""),
	"hatena": unquote("\"\e806\""),
	"line": unquote("\"\e807\""),
	"pocket": unquote("\"\e808\""),
	"rss": unquote("\"\e809\""),
);

@function getIconContent( $key ) {
	@each $pair in $icons {
		@if nth( $pair, 1 ) == $key {
			@return nth( $pair, 2 );
		}
	}
	@return null;
}

@mixin icon( $name ) {
	content: getIconContent( $name );
	font-family: "icon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: middle;
	display: inline-block;
}

@mixin initIcon() {
	@font-face {
		font-family: "icon";
		src:
			url( "../../fonts/icon.woff2" ) format( "woff2" ),
			url( "../../fonts/icon.woff" ) format( "woff" ),
			url( "../../fonts/icon.ttf" ) format( "truetype" );
		font-weight: normal;
		font-style: normal;
	}

	.Icon {
		font-family: "icon";
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		vertical-align: middle;
		display: inline-block;

		/* For With CJK Text =========== */
		position: relative;
	}

	.Icon.-twitter:before {
		content: unquote("\"\e801\"");
	}
	.Icon.-facebook:before {
		content: unquote("\"\e802\"");
	}
	.Icon.-instagram:before {
		content: unquote("\"\e803\"");
	}
	.Icon.-arrow:before {
		content: unquote("\"\e804\"");
	}
	.Icon.-menu:before {
		content: unquote("\"\e805\"");
	}
	.Icon.-hatena:before {
		content: unquote("\"\e806\"");
	}
	.Icon.-line:before {
		content: unquote("\"\e807\"");
	}
	.Icon.-pocket:before {
		content: unquote("\"\e808\"");
	}
	.Icon.-rss:before {
		content: unquote("\"\e809\"");
	}
}
