/*---------------------------------
質問ランキング
---------------------------------*/
.ranking{
  border: 3px solid #bcbaba;
  background-color: #fff;
  padding-bottom: 15px;
  &__select{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
  }
  &__list{
    padding: 10px;
  }
  &__listItem{
    counter-increment: rank;
    padding-left: 45px;
    position: relative;
    a{
      position: relative;
      text-decoration: none;
      &::before{
        content: 'Q:';
      }
    }
    // &:not(:last-child){
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px dotted #ccc;
    // }
    &::before{
      position: absolute;
      width: 45px;
      top: 0;
      left: 0;
    }
    &:nth-child(-n + 3) {
      a{
        font-size: 1.1rem;
        line-height: 1.2;
        font-weight: bold;
      }
      &::before{
        content: '';
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 20px;
        margin-right: 5px;
        display: inline-block;
      }
    }
    &:first-child{
      &::before{
        background-image: url('../../images/rank1.png');
      }
    }
    &:nth-child(2){
      &::before{
        background-image: url('../../images/rank2.png');
      }
    }
    &:nth-child(3){
      &::before{
        background-image: url('../../images/rank3.png');
      }
    }
    &:nth-child(n + 4) {
      &::before{
        content: counter(rank)"位";
        color: #b69857;
        font-size: 0.9rem;
        text-align: center;
        line-height: 1.2;
        margin-top: 0.4em;
        width: 45px;
      }
    }
  }
  &__listItemCategory{
    font-size: 0.8rem;
    margin-left: 5px;
  }

  @media all and (min-width: $breakpoint + 1){
    padding-bottom: 20px;
    &__listItem{
      padding-left: 50px;
      a{
        font-weight: bold;
        @include hover;
      }
      // &:not(:last-child){
        padding-bottom: 15px;
        margin-bottom: 15px;
      // }
      &::before{
        width: 50px;

      }
      &:nth-child(-n + 3) {
        a{
          font-size: 18px;
        }
        &::before{
          // width: 45px;
          height: 24px;
        }
      }
    }
    // &__listItemCategory{
    //   font-size: 0.8rem;
    //   margin-left: 5px;
    // }
  }
}
