$breakpoint-s: 480px;
$breakpoint: 780px;
$breakpoint-m: 1080px;
$breakpoint-l: 1280px;

$baseFont: Arial, "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
$textColor: #333;
$bgColor: #f8f8f8;
$keyColor: #C30D23;
$keyColorHighlight: #DD1414;

$sp_headerHight: 50px;
// $pc_headerHight: 140px;

$sp_footerHight: 60px;
// $pc_footerHight: 110px;

$contentWidth: 1120px;
$contentMaxWidth: 1300px;

$shadow: 0 0 2px rgba(0,0,0,0.2);


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@mixin hover {
	transition: opacity .3s;
	&:hover{
		opacity: 0.7;
	}
}
