/*サイト個別設定*/
/*コンパイルされたsite.cssの内容を該当テーマフォルダのstyle.cssへコピペ*/
@import "vars";

// $siteColor: #53a7db;
$siteColor: hsl(203,62,65);
$siteColor--dark: hsl(203,62,45);
$siteColor--light: hsl(203,62,92);
$siteColor--exlight: hsl(203,62,95);

a {
  color: $siteColor;
}
.globalHeader{
  &__logo{
    width: 75px;
    @media all and (min-width: $breakpoint + 1){
      width: 212px;
    }
  }
  /*フォームページ等のタイトル*/
  &__title{
		background-color: $siteColor;
	}
}

.siteLinks{
  &__itemInner{
    color: $siteColor;
  }
}

.spNavi{
  &__logo{
    width: 90px;
  }
}
.spGlobalNavi{
	&__itemInner{
		color: $siteColor;
    &--hasSubNavi{
			position: relative;
			&::after{
        border-top-color: $siteColor;
      }
    }
	}
}

.globalNavi{
  background-color: $siteColor;
  color: #fff;
  &__childItem{
    a{
      span{
        color: $siteColor;
      }
    }
  }
  &__item--hasChild{
    &.-active{
      > span{
        color: $siteColor;
        &::after{
          border-top-color: $siteColor;
        }
      }
    }
  }
}
.container{
  &__sideSectionTitle{
    background-color: $siteColor;
	}
}
.pageTitle{
  color: $siteColor;
}
.qaList{
  &__question{
    color: $siteColor;
  }
}
.article{
  &__title{
    color: $siteColor;
  }
  &__answer{
    /*変える必要があれば*/
  }
  &__body{
    h1,h2{
      color: $siteColor;

    }
  }
}
.button{
  &:not(.button--entry):not(.button--green):not(.button--pink){
    background-color: $siteColor;
    border-bottom-color: $siteColor--dark;
  }
}
.qaData{
  &__itemHeadline{
		.qIcon{
      color: $siteColor;
    }
  }
  &__itemValue{
    em{
      color: $siteColor;
    }
  }
}

.searchForm{
	&__inner{
		background-color: $siteColor--light;
	}
  &__form{
		input{
			border-color: $siteColor;
		}
		button{
			background-color: $siteColor;
		}
	}
}
.postQuestion{
	border-color: $siteColor;
}
.glossaryNavi{
  &__item{
    a{
      &::after{
        background-color: $siteColor;
      }
    }
  }
}
.glossaryList{
  &__catTitle{
    color: $siteColor;
  }
  &__word{
    &::before{
      border-left-color: $siteColor;
    }
  }
}
.glossaryDetail{
  &__title{
    color: $siteColor;
  }
}

.formTitle{
  background-color: $siteColor;
}
.formStatus{
  &__step{
    &--current{
      background-color: $siteColor--dark;
      &:not(:last-child){
        &::after{
          border-left-color: $siteColor--dark;
        }
      }
    }
  }
}
.formContainer{
  &__title{
    border-left-color: $siteColor--dark;
  }
  &__agreement{
    background-color: $siteColor--exlight;
  }
}
.formTable{
  th{
    background-color: $siteColor--exlight;
  }
}
.thanksPage{
  &__button{
    background-color: $siteColor--dark;
  }
}
