/*サイト個別設定*/
@import "vars";

$siteColor: #53a7db;

a {
  color: $siteColor;
}
.globalHeader{
  &__logo{
    width: 75px;
    @media all and (min-width: $breakpoint + 1){
      width: 212px;
    }
  }
}

.globalNavi{
  background-color: $siteColor;
  color: #fff;
  &__childItem{
    a{
      span{
        color: $siteColor;
      }
    }
  }
  &__item--hasChild{
    &.-active{
      > span{
        color: $siteColor;
        &::after{
          border-top-color: $siteColor;
        }
      }
    }
  }
}
